.wrapper{
  display: flex;
  flex-flow: column nowrap;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

li.nav-item {
  padding: 13px;
}

.bg-red{
  top: 0;
  position: absolute;
  background: #e90201;
  height: 100%;
  width: 75vw;
  right: 0;
}

.bg-black{
  top: 0;
  position: absolute;
  background: #393939;
  height: 100%;
  width: 25vw;
}

.portfolio-header{
  position: relative;
  height: 95vh;
}

.heading{
  position: absolute;
  top: 200px;
  left: 50px;
}

.heading h1{
  font-size: 11.2rem;
  color: #ffffff99;
  font-weight: 700;
}

.intro{
  color: white;
  position: absolute;
  width: 40%;
  right: 100px;
  top: 450px;
}

.intro p{
  font-size: 1.7rem;
}

.intro span{
  font-size: 18px;
}

.intro a{
  font-size: 1.5em;
}

.name{
  transform: rotate(90deg);
  height: 20px;
  position: absolute;
  top: 270px;
  left: -18px;
}

.name-dash{
  transform: rotate(0deg);
  position: absolute;
  top: 100px;
  left: 80px;
  border: 1px solid #e90201;
  height: 40px;
}

.social{
  margin-left: 110px;
}

.social a{
  width: 300px;
  padding: 15px;
  background-color: #e90201;
  color: white !important;
  font-size: 20px;
  transition: all 1.5s;
}

.mypic{
  position: absolute;
  top: -60px;
  left: 155px;
}

.social>a:hover{
  background-color: black !important;
  margin-left: -200px;
}

.serv{
  width: 200px;
  text-align: center;
  border: 3px solid #5a5a5a;
  color: #5a5a5a;
  margin: 30px 20px 30px 0;
  transition: all 1s;
}

.serv i{
  margin: 30px 40px;
}

.serv-dash{
  transform: rotate(0deg);
  position: absolute;
  top: 150px;
  right: 50px;
  border: 1px solid #e90201;
  height: 40px;
}

.craft{
  transform: rotate(90deg);
  height: 20px;
  position: absolute;
  top: 230px;
  right: 30px;
}

.serv:hover{
  color: #fff;
  background-color: #5a5a5a;
  transform: scale(1.1, 1.1);
  border: none;
}