/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1440px) {
  .heading h1 {
    /* color: white; */
    /* font-size: 13.5rem; */
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
  .mypic img {
    width: 360px;
    height: 100%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .heading h1 {
    font-size: 13.5rem;
  }
  .intro{
    /* width: 30%; */
    right: 95px;
    top: 520px;
  }
  .intro p {
    font-size: 1.3rem;
  }
  .intro span {
    font-size: 17px;
  }
  .intro a {
    font-size: 1.2em;
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .heading h1 {
    font-size: 12rem;
  }
  .intro{
    transform: scale(0.8, 0.8);
    top: 460px;
  }
  .portfolio-header {
    padding-bottom: 120px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
  }
  .social{
    margin-left: 0px;
  }
  .mypic{
    left: 40px;
  }
  .name {
    left: -50px;
  }
  .name-dash{
    left: 48px;
  }
  .name + div {
    margin: 110px 100px;
    color: rgb(90, 90, 90);
    width: 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .heading{
    margin-top: 3rem;
    margin-left: 25px;
  }
  .intro {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.7, 0.7);
    top: 635px;
    width: 45%;
    right: -25px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 13px;
  }
  .navbar-expand-md .navbar-nav {
    margin-right: 0px !important;
  }
  .bg-red{
    width: 65vw;
  }
  .bg-black{
    width: 36vw;
  }
  .mypic img {
    width: 300px;
    height: 100%;
  }
  .name + div {
    margin: 110px 90px;
    color: rgb(90, 90, 90);
    width: 60%;
}
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  .intro{
    top: 435px;
    right: 50px;
  }
  .name + div{
    margin: 110px 80px;
  }
  .social{
    margin-left: 0px;
  }
  .mypic{
    left: 40px;
  }
  .name {
    left: -50px;
  }
  .name-dash{
    left: 48px;
  }
  .name + div {
    margin: 110px 90px;
    width: 70%;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .bg-red{
    width: 70vw;
  }
  .bg-black{
    width: 30vw;
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
  .heading{
    margin-top: 3rem;
    margin-left: 20px;
    margin-bottom: 2rem;
  }
  .heading h1 {
    font-size: 6rem;
  }
  .intro {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 50%;
    right: -10px;
    top: 250px;
    transform: scale(0.8);
  }
  .intro p{
    font-size: 1.3rem;
    line-height: 25px;
  }
  .intro span{
    font-size: 16px;
  }
  .intro a{
    font-size: 14px;
  }
  .name {
    left: -50px;
  }
  .name-dash{
    left: 48px;
  }
  .name + div {
    margin: 90px 90px;
    width: 70%;
  }
  .social>a:hover {
    background-color: black !important;
    margin-left: -155px;
  }
  .social {
    margin-left: 155px;
  }
  .mypic img {
    width: 351px;
    height: 100%;
  }
  .mypic {
    position: absolute;
    top: -60px;
    left: 200px;
  }
  .mypic {
    position: absolute;
    top: -60px;
    left: 196px;
  }
  .mypic img {
    width: 340px;
    height: 100%;
  }
  .social a{
    font-size: 18px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 20px;
    margin-bottom: -3rem;
  }
  .heading h1 {
    font-size: 6rem;
  }
  .portfolio-header {
    padding-bottom: 50px;
  }
  .intro {
    color: white;
    width: 90%;
    margin-right: -45px;
    top: 345px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    margin-left: auto;
    position: initial;
  }
  .bg-red{
    width: 100vw;
    clip-path: polygon(0% 100%, 0% 100%, 100% 0%, 100% 100%);
  }  
  .bg-black{
    clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 0%);
    width: 100vw;
  }
  .social {
    margin-left: 72.8px;
  }
  .name-dash{
    left: 50px;
  }
  .name{
    left: -50px;
  }
  .name + div {
    margin: 110px 80px;
    color: rgb(90, 90, 90);
    width: 65%;
  }
  .mypic{
    left: 103px;
  }
  .mypic img{
    width: 203px;
  }
  .social a{
    font-size: 12.4px;
    width: 230px;
    padding: 10px;
  }
  .social > a:hover{
    margin-left: -110px;
  }
  .text{
    font-size: 15px;
  }
}