/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1440px) {
  .heading h1 {
    /* color: white; */
    /* font-size: 13.5rem; */
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .heading h1 {
    font-size: 13.5rem;
  }
  .intro{
    /* width: 30%; */
    right: 95px;
    top: 520px;
  }
  .intro p {
    font-size: 1.3rem;
  }
  .intro span {
    font-size: 17px;
  }
  .intro a {
    font-size: 1.2em;
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .heading h1 {
    font-size: 12rem;
  }
  .intro{
    transform: scale(0.8, 0.8);
    top: 460px;
  }
  .portfolio-header {
    padding-bottom: 120px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 14px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .heading{
    margin-top: 3rem;
    margin-left: 25px;
  }
  .intro {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.7, 0.7);
    top: 635px;
    width: 45%;
    right: -25px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: 13px;
  }
  .navbar-expand-md .navbar-nav {
    margin-right: 0px !important;
  }
  .bg-red{
    width: 65vw;
  }
  .bg-black{
    width: 36vw;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .intro{
      top: 435px;
      right: 50px;
    }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .bg-red{
    width: 70vw;
  }
  .bg-black{
    width: 30vw;
  }
  .portfolio-header {
    padding-bottom: 100px;
  }
  .heading{
    margin-top: 3rem;
    margin-left: 20px;
    margin-bottom: 2rem;
  }
  .heading h1 {
    font-size: 6rem;
  }
  .intro {
    /* width: 50%;
    right: 60px;
    top: 600px; */
    /* position: relative; */
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 50%;
    right: -10px;
    top: 250px;
    transform: scale(0.8);
  }
  .intro p{
    font-size: 1.3rem;
    line-height: 25px;
  }
  .intro span{
    font-size: 16px;
  }
  .intro a{
    font-size: 14px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .heading {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 20px;
    margin-bottom: -3rem;
  }
  .heading h1 {
    font-size: 6rem;
  }
  .portfolio-header {
    padding-bottom: 50px;
  }
  .intro {
    color: white;
    width: 90%;
    margin-right: -45px;
    top: 345px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    margin-left: auto;
    position: initial;
  }
  .bg-red{
    width: 100vw;
    clip-path: polygon(0% 100%, 0% 100%, 100% 0%, 100% 100%);
  }  
  .bg-black{
    clip-path: polygon(0% 0, 100% 0%, 0% 100%, 0 0%);
    width: 100vw;
  }
}